body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1542272201-b1ca555f8505?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHNreXxlbnwwfHwwfHx8MA%3D%3D);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  background-color: rgba(0, 255, 255, 0.345);
  padding: 10px;
  border-radius: 8px;
  width: 700px;
}

input[type="text"],
input[type="number"],
button {
  margin: 10px;
  padding: 5px;
}

button {
  cursor: pointer;
}

p {
  margin-top: 20px;
}
